
.reg-log-section {
    box-sizing: border-box;
    margin: 0 auto;
    width: 396px;
    /*min-height: 100vh;*/
    padding-top: 72px;
    display: flex;
    flex-direction: column;
}

.reg-log-section__title {
    margin: 40px 0 0 0;
    padding: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reg-log-section__form {
    margin: 40px 0 0 0;
    flex-basis: 333px;
}

.reg-log-section__label {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.reg-log-section__name {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reg-log-section__input-field {
    margin: 8px 0 0 0;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.reg-log-section__input-field:focus + .reg-log-section__hr {
    border-bottom-color: rgba(66, 133, 244, 1);
}

.reg-log-section__hr {
    display: block;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 8px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    width: 100%;
}

.reg-log-section__input-field-error {
    color: #EE3465;

}

.reg-log-section__error {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-height: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.reg-log-section__button {
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s ease-out;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reg-log-section__button:hover {
    opacity: .7;
}

.reg-log-section__link-block {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.reg-log-section__question {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reg-log-section__btn {
    margin: 0 0 0 6px;
    padding: 0;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.reg-log-section__btn:hover {
    opacity: .7;
}

@media (max-width: 830px) {
    .reg-log-section {
        margin-top: 161px;
    }
}

@media (max-width: 460px) {
    .reg-log-section {
        padding-top: 57px;
        width: 260px;
        margin-top: 0;

    }

    .reg-log-section__title {
        margin-top: 50px;
    }

    .reg-log-section__form {
        margin-top: 0;
        padding-top: 80px;
        flex-basis: 265px;
    }

    .reg-log-section__label {
        margin-top: 0;
    }

    .reg-log-section__button {
        margin-top: 157px;
    }

    .reg-log-section__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reg-log-section__input-field {
        margin-top: 6px;
    }

    .reg-log-section__hr {
        margin-top: 10px;
    }

    .reg-log-section__container {
        top: 462px;
    }

    .reg-log-section__button {
        font-size: 12px;
    }

    .reg-log-section__question, .reg-log-section__btn {
        font-size: 12px;
    }
}
