.portfolio-section {
    margin: 0;
    padding: 101px 70px 125px;
}

.portfolio-section__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #A0A0A0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.portfolio-section__links-list {
    margin: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    padding: 50px 0 0 0;
    list-style: none;
}

.portfolio-section__link {
    margin: 0;
    position: relative;
    display: block;
    padding: 20px 0;
    width: 100%;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .2s ease-out;
}

.portfolio-section__link:hover {
    opacity: .5;
}

.portfolio-section__link::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    width: 29px;
    height: 60px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.60653 16.5241L0.944603 14.8622L13.3026 2.48295H3.7571L3.77841 0.181818H17.2656V13.6903H14.9432L14.9645 4.14489L2.60653 16.5241Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.portfolio-section__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

@media (max-width: 1024px) {
    .portfolio-section {
        margin: 0;
        padding: 91px 50px 90px;
    }

    .portfolio-section__link {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio-section__link::before {
        width: 27px;
    }
}

@media (max-width: 700px) {
    .portfolio-section {
        margin: 0;
        padding: 70px 14px 0;
    }
}

@media (max-width: 490px) {
    .portfolio-section {
        padding: 70px 10px 0;
    }

    .portfolio-section__title {
        font-size: 14px;
    }

    .portfolio-section__links-list {
        padding-top: 40px;
    }

    .portfolio-section__link {
        font-size: 18px;
        letter-spacing: -0.72px;
    }
}
