.promo-section {
    padding: 0 0 30px;
    margin: 20px auto 0;
    max-width: 1200px;
    background-color: #272727;
    border-radius: 10px;
}

.promo-section__title {
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    padding: 160px 235px 0;

}

.promo-section__nav-panel {
    padding: 0;
    margin: 151px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.promo-section__link {
    padding: 5px;
    display: block;
    width: 82px;
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    background-color: #303030;
    border-radius: 6px;
    opacity: 1;
    transition: opacity .2s ease-out;
}

.promo-section__link:hover {
    opacity: .7;
}
@media (max-width: 1160px) {
    .promo-section__title {
        font-size: 45px;
        padding: 160px 170px 0;

    }
}
@media (max-width: 981px) {
    .promo-section__title {
        font-size: 40px;
        line-height: 52px;
        padding: 160px 140px 0;

    }
}
@media (max-width: 830px) {
    .promo-section__title {
        font-size: 40px;
        line-height: 52px;
        padding: 350px 24px 0;
        letter-spacing: -1.6px;
        font-style: normal;
        font-weight: 400;
    }
    .promo-section__nav-panel{
        margin-top: 314px;
    }
}
@media (max-width: 540px) {
    .promo-section__title {
        font-size: 29px;
        line-height: 37px;
        padding: 220px 0 0;
        letter-spacing: -1.6px;
        font-style: normal;
        font-weight: 400;
    }
    .promo-section__nav-panel{
        margin-top: 212px;
        gap: 6px;
    }
}
